* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #152938;
}

button {
    background-color: #BCCED9;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

form {
    width: 100%;
    text-align: center;
}

.svg-img {
    position: absolute;
    top: 30%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(296deg) brightness(111%) contrast(98%);
}

.menu {
    background-color: white;
    height: 250px;
    width: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag {
    width: 80%;
    text-align: left;
    margin-bottom: 10px;
}

.tag p {
    font-weight: 700;
    font-size: 20px;
    color: #7191A5;
    letter-spacing: 1px;
}

.grid-btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.grid-btns button {
    width: 45%;
    letter-spacing: 1px;
}

.play-btn {
    padding: 15px 0;
    width: 90%;
    background-color: #FDA214;
    color: white;
    letter-spacing: 1px;
    transition: 0.2s;
}

.play-btn:hover {
    background-color: #FFB84A;
}

.selected {
    background-color: #304859;
    color: white;
}